global
  daemon
  user root
  group root
  pidfile /var/run/haproxy.pid
  maxconn 50000

listen api
  bind *:80
  balance roundrobin
  mode http
  timeout connect 5s
  timeout client 10s
  timeout server 10s
  description api pool
  {% for member in members %}server localhost {{ member }}
  {% endfor %}
